### Maven ###
target/
!/.mvn/wrapper/maven-wrapper.jar

### Eclipse / STS ###
bin/
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

### Logs ###
logs/
*.log

### OS ###
.DS_Store
Thumbs.db